/* GLOBAL */

th {
  text-align: end;
}

.module h2,
.module caption {
  text-align: end;
}

.module ul,
.module ol {
  margin-inline-start: 0;
  margin-inline-end: 1.5em;
}

.viewlink,
.addlink,
.changelink,
.hidelink {
  padding-inline-start: 0;
  padding-inline-end: 16px;
  background-position: 100% 1px;
}

.deletelink {
  padding-inline-start: 0;
  padding-inline-end: 16px;
  background-position: 100% 1px;
}

.object-tools {
  float: inline-start;
}

thead th:first-child,
tfoot td:first-child {
  border-inline-start: none;
}

/* LAYOUT */

#user-tools {
  inset-inline-end: auto;
  inset-inline-start: 0;
  text-align: start;
}

div.breadcrumbs {
  text-align: end;
}

#content-main {
  float: inline-end;
}

#content-related {
  float: inline-start;
  margin-inline-start: -300px;
  margin-inline-end: auto;
}

.colMS {
  margin-inline-start: 300px;
  margin-inline-end: 0;
}

/* SORTABLE TABLES */

table thead th.sorted .sortoptions {
  float: inline-start;
}

thead th.sorted .text {
  padding-inline-end: 0;
  padding-inline-start: 42px;
}

/* dashboard styles */

.dashboard .module table td a {
  padding-inline-start: 0.6em;
  padding-inline-end: 16px;
}

/* changelists styles */

.change-list .filtered table {
  border-inline-start: none;
  border-inline-end: 0px none;
}

#changelist-filter {
  border-inline-start: none;
  border-inline-end: none;
  margin-inline-start: 0;
  margin-inline-end: 30px;
}

#changelist-filter li.selected {
  border-inline-start: none;
  padding-inline-start: 10px;
  margin-inline-start: 0;
  border-inline-end: 5px solid var(--hairline-color);
  padding-inline-end: 10px;
  margin-inline-end: -15px;
}

#changelist table tbody td:first-child,
#changelist table tbody th:first-child {
  border-inline-end: none;
  border-inline-start: none;
}

.paginator .end {
  margin-inline-start: 6px;
  margin-inline-end: 0;
}

.paginator input {
  margin-inline-start: 0;
  margin-inline-end: auto;
}

/* FORMS */

.aligned label {
  padding: 0 0 3px 1em;
}

.submit-row a.deletelink {
  margin-inline-start: 0;
  margin-inline-end: auto;
}

.vDateField,
.vTimeField {
  margin-inline-start: 2px;
}

.aligned .form-row input {
  margin-inline-start: 5px;
}

form .aligned ul {
  margin-inline-end: 163px;
  padding-inline-end: 10px;
  margin-inline-start: 0;
  padding-inline-start: 0;
}

form ul.inline li {
  float: inline-end;
  padding-inline-end: 0;
  padding-inline-start: 7px;
}

form .aligned p.help,
form .aligned div.help {
  margin-inline-start: 0;
  margin-inline-end: 160px;
  padding-inline-end: 10px;
}

form div.help ul,
form .aligned .checkbox-row + .help,
form .aligned p.date div.help.timezonewarning,
form .aligned p.datetime div.help.timezonewarning,
form .aligned p.time div.help.timezonewarning {
  margin-inline-end: 0;
  padding-inline-end: 0;
}

form .wide p.help,
form .wide ul.errorlist,
form .wide div.help {
  padding-inline-start: 0;
  padding-inline-end: 50px;
}

.submit-row {
  text-align: end;
}

fieldset .fieldBox {
  margin-inline-start: 20px;
  margin-inline-end: 0;
}

.errorlist li {
  background-position: 100% 12px;
  padding: 0;
}

.errornote {
  background-position: 100% 12px;
  padding: 10px 12px;
}

/* WIDGETS */

.calendarnav-previous {
  inset-block-start: 0;
  inset-inline-start: auto;
  inset-inline-end: 10px;
  background: url(../img/calendar-icons.svg) 0 -15px no-repeat;
}

.calendarnav-next {
  inset-block-start: 0;
  inset-inline-end: auto;
  inset-inline-start: 10px;
  background: url(../img/calendar-icons.svg) 0 0 no-repeat;
}

.calendar caption,
.calendarbox h2 {
  text-align: center;
}

.selector {
  float: inline-end;
}

.selector .selector-filter {
  text-align: end;
}

.selector-add {
  background: url(../img/selector-icons.svg) 0 -96px no-repeat;
  background-size: 24px auto;
}

:enabled.selector-add:focus,
:enabled.selector-add:hover {
  background-position: 0 -120px;
}

.selector-remove {
  background: url(../img/selector-icons.svg) 0 -144px no-repeat;
  background-size: 24px auto;
}

:enabled.selector-remove:focus,
:enabled.selector-remove:hover {
  background-position: 0 -168px;
}

.selector-chooseall {
  background: url(../img/selector-icons.svg) right -128px no-repeat;
}

:enabled.selector-chooseall:focus,
:enabled.selector-chooseall:hover {
  background-position: 100% -144px;
}

.selector-clearall {
  background: url(../img/selector-icons.svg) 0 -160px no-repeat;
}

:enabled.selector-clearall:focus,
:enabled.selector-clearall:hover {
  background-position: 0 -176px;
}

.inline-deletelink {
  float: inline-start;
}

form .form-row p.datetime {
  overflow: hidden;
}

.related-widget-wrapper {
  float: inline-end;
}

/* MISC */

.inline-related h2,
.inline-group h2 {
  text-align: end;
}

.inline-related h3 span.delete {
  padding-inline-end: 20px;
  padding-inline-start: inherit;
  inset-inline-start: 10px;
  inset-inline-end: inherit;
  float: inline-start;
}

.inline-related h3 span.delete label {
  margin-inline-start: inherit;
  margin-inline-end: 2px;
}

.inline-group .tabular td.original p {
  inset-inline-end: 0;
}

.selector .selector-chooser {
  margin: 0;
}
